#front {
    background-color: rgb(33,38,43);
    height: 100vh;
    width: 100vw;
}

#a {
    height: 200px;
}
#b {
    margin-bottom: 50px;
}

#c {
    display:flexbox;
    align-items: center;
    align-self: center;
    width:50%;
    
}

img{
 width: auto;
 height: 400px;
 max-height: 500px;
 margin: auto; 
 display: block;
 }